body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(229, 229, 229, 0.51);
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  padding: 48px 30px 48px 28px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.logo_1 {
  font-weight: 700;
  color: rgb(96, 112, 255);
}

h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

hr {
  background-color: rgb(223, 225, 230);
  width: 100%;
  border: none;
}

.main_btn {
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.main {
  width: 24px;
  height: 24px;
}

.title {
  width: 100%;
  line-height: 55px;
}

h1 {
  font-size: 40px;
  width: 400px;
  color: rgb(23, 43, 77);
  text-align: left;
}

.main > img {
  width: 100%;
}

a {
  text-decoration: none;
}

.heading {
  display: flex;
  flex-direction: column;
  background-image: url(./images/main-mobile.png);
  width: 375px;
  height: 660px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 90px;
  margin: 0 24px 12px 0;
  background-position: 0.5em -2em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.content {
  padding: 12px;
  margin: 12px;
}

.con {
  color: rgb(127, 140, 255);
  font-weight: 500;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 23px;
  margin-left: -38px;
}

/* Works section */

.works-section {
  display: flex;
  flex-direction: column;
}

.section-card {
  display: grid;
  grid-template-columns: auto;
  margin: 16px;
  margin-top: 60px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 14px;
  border: 1px solid rgb(223, 225, 230);
}

.card-text {
  padding-top: 8px;
}

.card-text > p {
  margin: inherit;
}

.card-heading {
  font-size: 30px;
}

.card-img > img {
  width: 100%;
}

.exp > ul {
  gap: 10px;
}

#li-elm {
  font-weight: 500;
}

.link-style {
  color: rgb(96, 112, 255);
  background-color: rgb(235, 235, 255);
  padding: 4px 12px;
  border-radius: 8px;
}

.li-dot {
  width: 15px;
  height: 15px;
  margin-top: 4px;
}

.card-button {
  color: rgb(57, 109, 242);
  font-weight: 500;
  font-size: 19px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(96 112 255);
  border-radius: 16px;
  padding: 12px 16px;
  letter-spacing: 0.03em;
}

/* About Section */

.about-me {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 90px;
  margin-top: 30px;
  padding-bottom: 80px;
}

#btn-about {
  color: rgb(57, 109, 242);
  padding: 10px 14px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid rgb(96, 112, 255);
  border-color: rgb(57, 109, 242);
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}

.lang-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lang-2 {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  width: 300px;
  justify-content: space-between;
  margin-bottom: 0;
}

.lang-3 {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.lang-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lang-icons a {
  color: rgb(52, 69, 99);
}

.lang-list li a {
  color: rgb(37, 56, 88);
}

.lang-img {
  width: 48px;
  height: 48px;
}

.lang-icons {
  background-repeat: no-repeat;
  display: flex;
  gap: 16px;
  background-color: rgb(247, 247, 249);
  width: 288px;
  height: 66.72px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
  padding-left: 12px;
}

.frame_work {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
  justify-content: space-between;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: left;
  width: 300px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.735);
  padding-bottom: 23px;
  align-items: center;
}

.down {
  width: 8px;
}

.frame_works > img {
  width: 100%;
}

#contact-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 103px;
}

#contect-text-p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgb(235, 235, 255);
  padding: 24px 12px 24px 12px;
}

#footer {
  background-image: url(./images/contact-form-bg.png);
  background-size: 65%;
  width: 375px;
  display: flex;
  flex-direction: column;
  background-color: rgb(96, 112, 255);
  background-repeat: no-repeat;
  border-top-left-radius: 88px;
  background-position: 8.5em 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-class {
  margin: 20px 24px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: none;
}

#btn {
  margin: 24px 211px 45px 24px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  color: #6070ff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#btn:hover {
  background-color: #6070ff;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 3s;
  transform: translate(2px, 2px);
}

#img-2 {
  width: 134px;
  padding: 0 100px 8px 100px;
  border-radius: 10px;
}
